<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Post</h1>
      <p>This will be added in the database</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/posts/add" method="POST">
        <div class="input-group">
          <label for="title">Post Title</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="Enter Post title"
            maxlength="100" value={{title}}>
        </div>
        <div class="input-group">
          <label for="catagory">Catagory</label>
          <input type="text" name="catagory" id="catagory" class="input-box" placeholder="eg. Technology, Food, Shopping, etc..."
          maxlength="100" value={{catagory}}>
        </div>
        <div class="input-group">
          <label for="tag">Tags</label>
          <input type="text" name="tag" id="tag" class="input-box" placeholder="eg. #tech, #fashion, #travel, etc..."
          maxlength="100" value={{tag}}>
        </div>
        <div class="input-group">
          <label for="description">Post Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Write Your Blog Post Here.."
            rows="10">{{description}}</textarea>
        </div>
        {{!-- <div class="input-group">
          <label for="budget">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value={{contact_email}}>
        </div> --}}
        <input type="submit" value="Add Post" class="btn btn-reverse">
      </form>
    </div>
  </section>